<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table" *ngIf="employees && employees.length">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#employee of employees">
                        <td>{{employee.EmployeeID}}</td>
                        <td>{{employee.LastName + ", " + employee.FirstName }}</td>
                        <td>{{employee.Title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>