<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Employees</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 10px">#</th>
                <th>Employee Name</th>
                <th>Title</th>
                <th style="width: 40px">Home Phone</th>
            </tr>
            <tr *ngFor="let employee of employees.data">
                <td>{{employee.EmployeeID}}.</td>
                <td>{{employee.LastName + ' , ' + employee.FirstName}}</td>
                <td>{{employee.Title}}</td>
                <td>{{employee.HomePhone}}</td>
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>

<div class="box">
    <data-table id="films-grid"
        headerTitle="Employees"
        [items]="employees.data"
        [itemCount]="employees.count"
        (reload)="reloadFilms($event)"

        [limit]="8"
        [sortBy]="'rating'"
        [sortAsc]="false"

        [selectColumn]="true"
        [multiSelect]="false"
        [substituteRows]="false"
        [expandableRows]="true"
        [translations]="translations"
        [indexColumnHeader]="'#'"
        [selectOnRowClick]="true"
        >
        <template #dataTableExpand let-item="item">
            <div [textContent]="item.Title" style="padding: 5px; color: gray"></div>
        </template>
        <data-table-column
            [property]="'EmployeeID'"
            [header]="'EmployeeID'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'FirstName'"
            [header]="'Name'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'Title'"
            [header]="'Title'"
            [sortable]="true"
            [cellColors]="cellColor">
        </data-table-column>
    </data-table>
    <div style="margin-top: 10px">
        <b>Selected:</b>
        <span *ngIf="detailsTable.selectedRow == null"><i>No item selected</i></span>
        <span [textContent]="detailsTable.selectedRow && detailsTable.selectedRow.item.Title"></span>
    </div>
</div>
<!-- /.box -->